language: java
jdk:
- oraclejdk8

services:
- docker

cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"

script:
- "./gradlew check"
- "./gradlew jacocoTestReport"
- "echo \"$DOCKER_PASSWORD\" | docker login -u \"$DOCKER_USERNAME\" --password-stdin"
- "./gradlew buildDocker -PpublishDocker"

after_success:
- bash <(curl -s https://codecov.io/bash)

deploy:
  provider: heroku
  api_key:
    secure: "$HEROKU_KEY"
  app: testra-api
  on:
    repo: testra-tech/testra-api
